<mat-sidenav-container>
    <mat-sidenav #snav opened="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="{{mobileQuery.matches ? 0 : 56}}">
        <div class="w-full sm:w-[27rem] p-6">
            <div *ngFor="let chat of chats; trackBy: trackById">
                <button (click)="setUpChat(chat.chatName, chat.receiverId, chat.id)" mat-flat class="w-full flex text-lg rounded py-2 px-4 mb-1 items-center bg-{{getButtonColor(chat.chatName)}} text-{{getButtonTextColor(chat.chatName)}} hover:bg-[#3F51B5] hover:text-white">
                    <img [src]="'data:image/JPEG;base64,' + chat.photo" alt="Profile Image" class="w-14 h-14 rounded-full mr-4">
                    {{chat.chatName}}
                </button>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="m-auto max-w-screen-sm">
            <div #chatContainer id="chatContainer" class="w-full h-[80vh]" style="overflow-y: auto;">
                <div *ngFor="let message of messages; trackBy: trackById">

                    <div *ngIf="message.senderId != user.id" class="flex justify-start gap-2.5 p-2">
                        <img class="w-8 h-8 rounded-full" [src]="'data:image/JPEG;base64,' + message.photo" alt="Profile image of {{message.nickname}}">
                        <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-200 rounded-tr-xl rounded-bl-xl rounded-br-xl">
                           <div class="flex items-center space-x-2 rtl:space-x-reverse">
                              <span class="text-sm font-semibold text-gray-900">{{message.nickname}}</span>
                              <span class="text-sm font-normal text-gray-500">{{formatDate(message.timestamp)}}</span>
                           </div>
                           <p class="text-sm font-normal py-2.5 text-gray-900">{{message.content}}</p>
                        </div>
                    </div>
    
                    <div *ngIf="message.senderId == user.id" class="flex justify-end gap-2.5 p-2">
                        <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-[#3F51B5] bg-[#3F51B5] rounded-tl-xl rounded-bl-xl rounded-br-xl">
                           <div class="flex items-center space-x-2 rtl:space-x-reverse">
                              <span class="text-sm font-semibold text-gray-50">{{message.nickname}}</span>
                              <span class="text-sm font-normal text-gray-200">{{formatDate(message.timestamp)}}</span>
                           </div>
                           <p class="text-sm font-normal py-2.5 text-gray-50">{{message.content}}</p>
                        </div>
                        <img class="w-8 h-8 rounded-full" [src]="'data:image/JPEG;base64,' + message.photo" alt="Profile image of {{message.nickname}}">
                    </div>

                </div>
                <div class="px-2">
                    <form *ngIf="!isChatSelected()" [formGroup]="messageForm" (ngSubmit)="handleSendMessage()" class="mb-5 text-right">
                        <div>
                            <mat-form-field class="w-full" [hideRequiredMarker]="true">
                                <mat-label class="text-gray-400">Message</mat-label>
                                <input 
                                    matInput
                                    required
                                    maxlength="500"
                                    formControlName="message"
                                    class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
                                />
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-raised-button color="primary" type="submit" [disabled]="!(messageForm.valid && messageForm.dirty)">
                                Send
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="fixed bottom-10 right-10">
                <button mat-fab color="primary" (click)="snav.toggle()"><mat-icon>chat</mat-icon></button>
            </div>
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>

