<mat-dialog-content>
    <form [formGroup]="addBookForm" (ngSubmit)="handleAddNewBook()" class="w-full sm:w-[27rem] p-6 rounded-lg">
        <div class="mb-2">
            <mat-form-field class="w-full">
                <mat-label class="text-gray-400">Titile</mat-label>
                <input 
                    required
                    matInput
                    maxlength="50"
                    formControlName="title"
                    class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
                />
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field class="w-full">
                <mat-label class="text-gray-400">Author</mat-label>
                <input 
                    required
                    matInput
                    maxlength="50"
                    formControlName="author"
                    class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
                />
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field class="w-full">
                <mat-label class="text-gray-400">Description</mat-label>
                <textarea 
                    matInput 
                    maxlength="1000"
                    formControlName="description"
                    placeholder="It's about...">
                </textarea>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field class="w-full">
                <mat-label class="text-gray-400">Genres</mat-label>
                <mat-select formControlName="genres" [value]="selectedGenres" multiple>
                <mat-option *ngFor="let genre of genres" [value]="genre.id">
                    {{ genre.genre }}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field class="w-full">
                <mat-label class="text-gray-400">Language</mat-label>
                <mat-select formControlName="language">
                <mat-option *ngFor="let language of languages" [value]="language.id">
                    {{ language.language }}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field class="w-full">
                <mat-label class="text-gray-400">Quality</mat-label>
                <mat-select formControlName="quality">
                <mat-option *ngFor="let quality of qualities" [value]="quality.id">
                    {{ quality.quality }}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field class="w-full">
                <mat-label class="text-gray-400">Status</mat-label>
                <mat-select formControlName="status">
                <mat-option *ngFor="let status of statuses" [value]="status.id">
                    {{ status.status }}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex items-center justify-content mb-2">
            <button mat-icon-button matPrefix color="primary" type="button" (click)="f_input.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
            {{fileName || "No photo uploaded yet."}}
            <input 
                type="file"
                required
                hidden
                #f_input
                formControlName="photo"
                (change)="handleFileSelected($event)"
                class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
            />
        </div>
        <div>
            <mat-dialog-actions>
                <button class="w-full" [mat-dialog-close]="true" mat-raised-button color="primary" type="submit" [disabled]="!(addBookForm.valid && addBookForm.dirty)">
                    Add Book
                </button>
            </mat-dialog-actions>
        </div>
    </form>
</mat-dialog-content>