<section *ngIf="isTokenExpired" class="flex items-center h-screen bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <span class="text-7xl tracking-tight font-extrabold lg:text-9xl text-[#3F51B5]">Ooops</span>
            <p class="pt-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">Token has been expired.</p>
            <p class="pb-8 text-lg font-light text-gray-500">It appears that the token for resetting your password has expired. Not to worry! You can simply request another password reset.</p>
            <a [routerLink]="['/home']" mat-flat-button color="primary">Back to Homepage</a>
        </div>   
    </div>
</section>
<section *ngIf="!isTokenExpired" class="h-screen flex items-center">
    <form [formGroup]="newPasswordForm" (ngSubmit)="handlePasswordChange()" class="m-auto w-full sm:w-[27rem] p-6 rounded-lg shadow-md">
        <div class="mb-4">
            <span class="text-xl tracking-tight font-extrabold lg:text-3xl text-[#3F51B5]">Provide new password</span>
        </div>
        <div class="mb-2">
            <mat-form-field class="w-full">
                <mat-label class="text-gray-400">New password</mat-label>
                <input 
                    required
                    matInput
                    formControlName="newPassword"
                    type='password'
                    class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
                />
                <mat-error *ngIf="newPasswordForm.controls.newPassword.touched && newPasswordForm.controls.newPassword.invalid">
                    <span *ngIf="newPasswordForm.controls.newPassword.hasError('required')">The field is mandatory</span>
                    <span *ngIf="newPasswordForm.controls.newPassword.hasError('minlength')">The password must contain at least 8 characters</span>
                    <span *ngIf="newPasswordForm.controls.newPassword.hasError('pattern') && !newPasswordForm.controls.newPassword.hasError('minlength')">{{passwordErrorMessage(newPasswordForm.controls.newPassword.value)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field class="w-full">
                <mat-label class="text-gray-400">Confirm password</mat-label>
                <input 
                    required
                    matInput
                    formControlName="confirmPassword"
                    type='password'
                    class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
                />
                <mat-error *ngIf="newPasswordForm.controls.confirmPassword.touched && newPasswordForm.controls.confirmPassword.invalid">
                    <span *ngIf="newPasswordForm.controls.confirmPassword.hasError('required')">The field is mandatory</span>
                </mat-error>            
            </mat-form-field>
            <mat-error class="text-center" *ngIf="newPasswordForm.controls.confirmPassword.touched && !newPasswordForm.controls.confirmPassword.invalid">
                <span *ngIf="!passwordsAreMatch()">Passwords do not match</span>
            </mat-error>  
        </div>
        <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!(newPasswordForm.valid && newPasswordForm.dirty && passwordsAreMatch())">Save</button>
        </div>
    </form>
</section>
