<form [formGroup]="changePasswordForm" (ngSubmit)="handlePasswordChange()" class="w-full sm:w-[27rem] p-6 rounded-lg shadow-md">
    <div class="mb-2">
        <mat-form-field class="w-full">
            <mat-label class="text-gray-400">Current password</mat-label>
            <input 
                required
                matInput
                formControlName="currentPassword"
                [type]="hidePassword ? 'password' : 'text'"
                class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
            />
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword?'visibility_off':'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.controls.currentPassword.touched && changePasswordForm.controls.currentPassword.invalid">
                <span *ngIf="changePasswordForm.controls.currentPassword.hasError('required')">The field is mandatory</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="mb-2">
        <mat-form-field class="w-full">
            <mat-label class="text-gray-400">New password</mat-label>
            <input 
                required
                matInput
                formControlName="newPassword"
                type='password'
                class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
            />
            <mat-error *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
                <span *ngIf="changePasswordForm.controls.newPassword.hasError('required')">The field is mandatory</span>
                <span *ngIf="changePasswordForm.controls.newPassword.hasError('minlength')">The password must contain at least 8 characters</span>
                <span *ngIf="changePasswordForm.controls.newPassword.hasError('pattern') && !changePasswordForm.controls.newPassword.hasError('minlength')">{{passwordErrorMessage(changePasswordForm.controls.newPassword.value)}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="mb-2">
        <mat-form-field class="w-full">
            <mat-label class="text-gray-400">Confirm password</mat-label>
            <input 
                required
                matInput
                formControlName="confirmPassword"
                type='password'
                class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
            />
            <mat-error *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.invalid">
                <span *ngIf="changePasswordForm.controls.confirmPassword.hasError('required')">The field is mandatory</span>
            </mat-error>            
        </mat-form-field>
        <mat-error class="text-center" *ngIf="changePasswordForm.controls.confirmPassword.touched && !changePasswordForm.controls.confirmPassword.invalid">
            <span *ngIf="!passwordsAreMatch()">Passwords do not match</span>
        </mat-error>  
    </div>
    <div>
        <mat-dialog-actions>
            <button mat-raised-button cdkFocusInitial mat-dialog-close color="primary">Cancel</button>
            <button mat-raised-button [mat-dialog-close]="true" color="primary" type="submit" [disabled]="!(changePasswordForm.valid && changePasswordForm.dirty && passwordsAreMatch())">Reset</button>
        </mat-dialog-actions>
    </div>
</form>
