<section class="bg-white py-8 antialiased md:py-16">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
      <div class="flex items-center gap-2">
        <h2 class="text-2xl font-semibold text-gray-900"> {{totalReviews}} Reviews </h2>
      </div>
  
      <div class="my-6 gap-8 sm:flex sm:items-start md:my-8">
        <div class="shrink-0 space-y-4">
          <button mat-flat-button color="primary" (click)="handleOpenAddReviewForm()" [disabled]="reviewExist">Write a review</button>
        </div>
      </div>
  
      <div class="mt-6 divide-y divide-gray-200">
        <div *ngFor="let review of reviews; trackBy: trackById">
          <div class="gap-3 pb-6 sm:flex sm:items-start">

            <div class="shrink-0 space-y-2 sm:w-48 md:w-72">
              <div class="flex items-center gap-0.5">
                <mat-icon *ngFor="let n of numSequence(review.rating);" class="text-yellow-300">star</mat-icon>
              </div>
    
              <div class="space-y-0.5">
                <p class="text-base font-semibold text-gray-900"><a target="_blank" [routerLink]="['/user',review.userId,'profile']">{{review.nickname}}</a></p>
                <img [src]="'data:image/JPEG;base64,' + review.userPhoto" alt="Profile image of {{review.nickname}}" class="w-10 h-10 rounded-full">
              </div>
            </div>

            <div class="mt-4 min-w-0 flex-1 space-y-4 sm:mt-0">
              <p class="text-base font-normal text-gray-500">{{review.review}}</p>
              <button *ngIf="currentUserId === review.userId" mat-flat-button color="warn" (click)="handleDeleteReview()">Delete</button>
            </div>

          </div>
        </div>

        <div *ngIf="reviews.length === 0">
          <h3>There are no reviews, but you can be the first!</h3>
        </div>
  
      </div>
  
      <div *ngIf="totalPages != page && totalReviews > 0" class="mt-6 text-center">
        <button mat-flat-button color="primary" (click)="loadMoreReviews()">View more reviews</button>
      </div>
    </div>
</section>
