<form [formGroup]="updatePhotoForm" (ngSubmit)="handlePhotoUpdating()" enctype="multipart/form-data" class="w-full sm:w-[27rem] p-6 rounded-lg shadow-md">
    <div class="flex items-center justify-content mb-2">
        <button mat-icon-button matPrefix color="primary" type="reset" (click)="f_input.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
        {{fileName || "No file uploaded yet."}}
        <input 
            type="file"
            required
            hidden
            #f_input
            formControlName="photo"
            (change)="handleFileSelected($event)"
            class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
        />
    </div>
    <div>
        <mat-dialog-actions>
            <button mat-raised-button [mat-dialog-close]="true" color="primary" type="submit" [disabled]="!(updatePhotoForm.valid && updatePhotoForm.dirty)">Update</button>
        </mat-dialog-actions>
    </div>
</form>
<form [formGroup]="updateLocationForm" (ngSubmit)="handleLocationUpdating()" class="w-full sm:w-[27rem] p-6 rounded-lg shadow-md">
    <div class="mb-2">
        <mat-form-field class="w-full">
            <mat-label class="text-gray-400">Country</mat-label>
            <mat-select formControlName="country" (selectionChange)="getCitiesData()">
            <mat-option *ngFor="let country of countries" [value]="country">
                {{ country.name }}
            </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="mb-2">
        <mat-form-field class="w-full">
            <mat-label class="text-gray-400">City</mat-label>
            <mat-select formControlName="city">
            <mat-option *ngFor="let city of cities" [value]="city.name">
                {{ city.name }}
            </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-dialog-actions>
            <button mat-raised-button [mat-dialog-close]="true" color="primary" type="submit" [disabled]="!(updateLocationForm.valid && updateLocationForm.dirty)">Update</button>
        </mat-dialog-actions>
    </div>
</form>
<div class="flex justify-end">
    <mat-dialog-actions>
        <button mat-raised-button cdkFocusInitial mat-dialog-close color="primary">Cancel</button>
    </mat-dialog-actions>
</div>
