<div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">

    <!--Main Col-->
    <div 
        class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">
        <div class="p-4 md:p-12 text-center lg:text-left">
            <!-- Image for mobile view-->
            <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center"
                style="background-image: url('data:image/JPEG;base64,{{user.photo}}')"></div>
            <h1 class="text-3xl font-bold pt-8 lg:pt-0">{{user.nickname}}</h1>
            <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-blue-800 opacity-25"></div>
            <p class="pt-4 text-base flex items-center justify-center lg:justify-start">
                <mat-icon class="text-blue-800">sentiment_neutral</mat-icon>
                {{user.points}} points
            </p>
            <div class="mx-auto lg:mx-0 w-4/5 border-b-2 border-blue-800 opacity-25"></div>
            <p class="pt-4 text-base flex items-center justify-center lg:justify-start">
                <mat-icon class="text-blue-800">mail</mat-icon>
                {{user.email}}
            </p>
            <p class="pt-2 text-base flex items-center justify-center lg:justify-start">
                <mat-icon class="text-blue-800">location_on</mat-icon>
                {{user.country}}, {{user.city}}
            </p>
            <p class="pt-2 text-base flex items-center justify-center lg:justify-start">
                <mat-icon class="text-blue-800">calendar_month</mat-icon>
                {{user.registrationDate}}
            </p>
            <div class="pt-12 pb-8">
                <button mat-raised-button>Change</button>
            </div>
        </div>

    </div>

    <!--Img Col-->
    <div class="w-full lg:w-2/5">
        <!-- Big profile image for side bar (desktop) -->
        <img [src]="'data:image/JPEG;base64,' + user.photo" class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block">
        <!-- Image from: http://unsplash.com/photos/MP0IUfwrn0A -->

    </div>

</div>
