<section class="flex items-center h-screen bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <span class="text-7xl tracking-tight font-extrabold lg:text-9xl text-[#3F51B5]">404</span>
            <p class="pt-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">Something's missing.</p>
            <p class="pb-8 text-lg font-light text-gray-500">Sorry, we can't find that page. You'll find lots to explore on the home page. </p>
            <a [routerLink]="['/home']" mat-flat-button color="primary">Back to Homepage</a>
        </div>   
    </div>
</section>
