<p>
    <mat-toolbar class="flex items-center justify-between" color="primary">
      <div>
        <a [routerLink]="['/home']"><span>Book<i>Swap</i></span></a>
      </div>
      <div>
        <button mat-icon-button aria-label="Search" (click)="goToSearchPage()">
          <mat-icon>search</mat-icon>
        </button>
        <ng-template [ngIf]="!isLoggedIn()">
          <button mat-icon-button aria-label="Login" (click)="goToAuthPage()">
            <mat-icon>login</mat-icon>
          </button>
        </ng-template>
        <ng-template [ngIf]="isLoggedIn()">
          <button mat-icon-button aria-label="Logout" (click)="handleOpenLogoutDialog()">
            <mat-icon>logout</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="goToLibraryPage()">
              <mat-icon>book</mat-icon>
              <span>Library</span>
            </button>
            <button mat-menu-item (click)="goToWishlistPage()">
              <mat-icon>receipt_long</mat-icon>
              <span>Wishlist</span>
            </button>
            <button mat-menu-item (click)="goToExchangesPage()">
              <mat-icon>swap_horiz</mat-icon>
              <span>Exchanges</span>
            </button>
            <button mat-menu-item (click)="goToProfilePage()">
              <mat-icon>person</mat-icon>
              <span>Profile</span>
            </button>
          </mat-menu>          
        </ng-template>
      </div>
    </mat-toolbar>
</p>
